@keyframes unfold {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

.unfold-page {
  animation: unfold 1s ease-out;
  transform-origin: top center;
}

@keyframes bounce-slow {
  0%, 100% { transform: translateY(-5px); }
  50% { transform: translateY(5px); }
}

.animate-bounce-slow {
  animation: bounce-slow 3s ease-in-out infinite;
}